/* 
    Created on : Feb 16, 2015
    Author     : Kevin Tan
*/
body {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #3A3F42;
    min-width: 1050px;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/***** NAVIGATION *****/
#navigation-container {
    display: block;
    position: fixed;
    overflow: auto;
    top: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}

ul.navigation {
    display: inline-block;
}

ul.navigation li{
    display: inline-block;
    margin: 15px 30px;
}

/* Fix for extra space created on first element. */
ul.navigation li:first-of-type {
    margin-left: 15px;
}

ul.navigation li a:link,
ul.navigation li a:active,
ul.navigation li a:visited {
    padding: 15px 15px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #3A3F42;
}

ul.navigation li a:hover {
    color: #3493DD;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


/***** HEADER *****/
#header-container {
    width: 100%;
}

#header-container .title-container {
    margin: 300px 0;
    text-align: center;
}

#header-container .title-container .title {
    font-weight: 700;
    font-size: 138px;
}

#header-container .title-container .subtitle {
    display: inline-block;
    background-color: #3A3F42;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 20px;
}


/***** WORK *****/
.project-container {
    background-color: #F7F7F7;
    padding: 100px 0 0 0;
    text-align: center;
    height: 400px;
    overflow: hidden;
}

/* Make every other background white. */
.project-container:nth-child(2n) {
    background-color: #fff;
}

.project-description-container {
    display: inline-block;
    width: 400px;
    height: 400px;
    text-align: left;
    vertical-align: top;
    margin-top: 20px;
}

.project-description-container h1 {
    font-weight: 400;
    font-size: 36px;
    color: #5C6A75;
    margin: 0;
    padding: 0;
}

.project-description-container h2 {
    font-size: 16px;
    font-weight: 400;
    color: #9CB0C0;
    margin: 10px 0 0 0;
    padding: 0;
}

.project-description-container p {
    color: #5C6A75;
    line-height: 30px;
    margin-top: 30px;
}

a.project-link:link,
a.project-link:active,
a.project-link:visited {
    display: inline-block;
    background-color: #5C6A75;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 20px;
}

a.project-link:hover {
    background-color: #3493DD;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.project-images-container {
    display: inline-block;
    width: 550px;
    height: 495px;
    margin-right: 75px;
    border: 5px solid #F7F7F7;
    border-bottom: 0;
    background-color: #9CB0C0;
}

.project-images-container:nth-of-type(2n) {
    border: 5px solid #FFF;
    margin-right: 0px;
    margin-left: 75px;
}


/***** OTHER PROJECTS *****/
#other-projects-container {
    text-align: center;
    padding: 100px 0;
}

#other-projects-container h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 0 0 50px 0;
}

#other-projects-container .other-project {
    display: inline-block;
    width: 300px;
    margin: 0 15px;
}

#other-projects-container .other-project h2 {
    font-size: 20px;
    font-weight: 400;
    color: #5C6A75;
    margin: 0;
}

#other-projects-container .other-project h3 {
    font-size: 13px;
    font-weight: 400;
    color: #9CB0C0;
    margin: 0;
}

#other-projects-container .other-project .other-project-image {
    width: 300px;
    height: 200px;
    margin-top: 10px;
    background-color: #F7F7F7;
    border: solid 3px #F7F7F7;
}

#other-projects-container .other-project:hover h2 {
    color: #3493DD;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#other-projects-container .other-project:hover .other-project-image {
    border: solid 3px #3493DD;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


/***** CONTACT *****/
#contact-container {
    text-align: center;
    background-color: #F7F7F7;
}

#contact-button:link,
#contact-button:active,
#contact-button:visited {
    display: inline-block;
    background-color: #3A3F42;
    color: #FFF;
    font-size: 24px;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 100px 0;
    padding: 20px 40px;
}

#contact-button:hover {
    background-color: #3493DD;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


/***** FOOTER *****/
#footer-container {
    padding: 30px 50px;
    font-size: 14px;
    background-color: #3A3F42; 
    color: #F7F7F7;
}

#footer-container a:link,
#footer-container a:active,
#footer-container a:visited {
    color: #F7F7F7;
    opacity: 0.5;
    margin: 0 10px;
}

#footer-container a:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.credits {
    font-size: 13px;
    float: right;
    color: #F7F7F7;
    opacity: 0.5;
}