/**
 *  Main stylesheet for portfolio website.
 *  http://ktan.me
 *
 *  Version:    2.0
 *  Date:       4/22/2015
 *
 *  Table of Contents:
 *  - Global Default Values
 *  - Links
 *  - Typography
 *  - Header Containers
 *  - Project Containers
 *  - Other Containers
 *  - Responsive Formatting
 */


/* Global Default Values
 –––––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 18px;
    color: #393939;
    margin: 0;
    padding: 0;
}

.transition {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    float: right;
    margin-left: 30px;
}

.top {
    z-index: 2;
}


/* Links 
 –––––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    text-decoration: none;
    color: #0C66EC;
    padding-bottom: 5px;
}
a.navigation-link {
    color: #393939;
}

a.navigation-link:hover {
    border-bottom: #393939 solid 2px;
}

a.project-link {
    display: inline-block;
    font-size: 16px;
    margin: 10px 0 2px 0;
}

a.project-link:after {
    position: absolute;
    padding-left: 8px;
    content: "\2192";
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a.project-link:hover:after {
    padding-left: 15px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a.project-image-link:hover {
    border-bottom: #0C66EC solid 0px;
}

a:hover {
    border-bottom: #0C66EC solid 2px;
    margin-bottom: 0;
}

/* Typography 
 –––––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, p { margin: 0; font-weight: 400; }

/* Used for title "Kevin Tan" on header. */
h1 {
    font-size: 32px;
    color: #393939;
}

/* Used for description on header. */
h2 {
    font-size: 18px;
    line-height: 28px;
    color: #393939;
}

/* Used for project titles. */
h3 {
    font-size: 24px;
    margin: 10px 0;
}

/* Used for dates on projects. */
h4 {
    font-size: 14px;
    color: #909090;
    margin: 0 0 5px 0;
}

.overlay-caption h4 {
    color: #FFFFFF;
}

/* Used for other work overlay. */
h5 {
    font-size: 18px;
}

p {
    line-height: 28px;
}


/* Header Containers
 –––––––––––––––––––––––––––––––––––––––––––––––––––– */
#full-page-container {
    width: 100%;
    max-width: 1000px;
    margin: 80px auto 0 auto;
    overflow: auto;
}

#header-container {
    display: block;
    background-color: #F9F9F9;
    /*background-image: linear-gradient(135deg, #0C66EC 0%, #0CCFEC 100%);*/
    height: 500px;
    width: 100%;
    z-index: 1;
}

#header-content-container {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    padding-top: 300px;
}

.title-container {
    float: left;
    width: 180px;
    margin: 0 20px 20px 0;
    font-weight: 600;
    font-size: 16px;
}

.description-container {
    float: left;
    margin: 0;
    max-width: 400px;
}

.links-container {
    float: right;
    margin: 0;
    width: 300px;
}

#main-links {
    width: 300px;
}

/* Project Containers
 –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.project-container {
    float: right;
    width: 100%;
    max-width: 800px;
    margin-bottom: 80px;
}

.project-container img {
    width: 100%;
}

.project-description-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto 0 auto;
}

.project-description-container-left {
    float: left;
    width: 75%;
    margin-right: 5%;
}

.project-description-container-right {
    float: left;
    width: 20%;
}


/* Other Containers
 –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.section-container {
    width: 100%;
    max-width: 1000px;
    float: left;
}

.section-container.contact {
    float: none;
    margin: 0 auto;
}

.section-content-container {
    float: right;
    width: 100%;
    max-width: 800px;
    margin-bottom: 80px;
}

.one-third-container {
    float: left;
    width: 33.33%;
    max-width: 266px;
}

.contact-container {
    display: block;
    width: 100%;
    height: 250px;
    padding-top: 80px;
    background-color: #F9F9F9;
}

.other-work-container {
    float: left;
    width: 33.33%;
    position: relative;
}

.other-works-image {
    float: left;
    width: 100%;
    position: relative;
}

.other-works-image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 102, 236, 0);
    color: #FFFFFF;
    text-align: center;
    opacity: 0;
}

.other-works-image-overlay:hover {
    background-color: rgba(12, 102, 236, 0.8);
    opacity: 1;
}

.overlay-caption {
    height: 100%;
    margin-top: 25%;
}

/* Responsive Reformatting 
 –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 1100px) {
    .project-container,
    .section-content-container {
        float: left;
    }

    #full-page-container,
    #header-content-container,
    .section-content-container,
    .project-description-container,
    .section-container {
        max-width: 800px;
    }
    
    .description-container {
        position: absolute;
        margin-top: 50px;
    }
}

@media (max-width: 850px) {
    .project-description-container,
    .section-content-container {
        width: 90%;
        padding: 0 5%;
    }
    
    .other-works-container {
        width: 100%;
        padding: 0;
    }
    
    .title-container,
    .description-container {
        padding-left: 5%;
    }
    
    .links-container {
        padding-right: 5%;
    }
}

@media (max-width: 650px) {
    .one-third-container {
        width: 100%;
        padding: 10px 0;
    }
    
    .contact-container {
        height: 350px;
    }
    
    .other-work-container {
        width: 50%;
    }
}

@media (max-width: 580px) {
    .links-container {
        right: 0;
        position: absolute;
    }
}

@media (max-width: 450px) {
    a.navigation-link {
        font-size: 16px;
    }
    
    .links-container {
        margin-top: 10px;
    }
    
    h1 {
        font-size: 24px;
        margin-top: 7px;
    }
}
